@import 'mixins';

@font-face {
  font-family: "HelveticaL";
  src: url("../fonts/HelveticaNeueCyr-Light.ttf");
}
@font-face {
  font-family: "HelveticaL";
  font-weight: 700;
  src: url("../fonts/HelveticaNeueCyr-Black.ttf");
}
